/* table.css */
table.ui-table {
    display: table;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font: 14px/1.5 'Microsoft Yahei', 'Simusun', sans-serif;
}
table.ui-table th,
table.ui-table td {
    padding: 4px 6px;
}
table.ui-table tr td {
    color: #666;
}
table.ui-table tr:nth-child(2n+1) {
    background-color: #EFFFF1;
}


/* 有边框的 */
table.ui-table-border {
    border: 1px solid #c8c8c8;
}
table.ui-table-border tr th {
    background-color: #F6F6F6;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,60%,.1));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,60%,.1));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,60%,.1));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,60%,.1));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.1), hsla(0,0%,60%,.1));
    font-weight: bold;
    padding: 6px;
    color:#444;
    border-bottom: 1px solid #d9d9d9;
}
table.ui-table-border th,
table.ui-table-border td {
    border-bottom: 1px solid #d9d9d9;
}


/* 没边框 */
table.ui-table-noborder,
table.ui-table-noborder tr,
table.ui-table-noborder th,
table.ui-table-noborder td {
    border: 0;
}