.pop-win {
    position: fixed;
    _position: absolute;
    background-color: #aaa;
    border: 1px solid #ccc;
    padding: 3px;
    z-index: 999;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.pop-win .pop-header {
    padding: 8px 12px;
    background: #f2f2f2;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    *zoom: 1;
}
.pop-win .pop-title {
    display: block;
    float: left;
    color: #666;
    font: 16px 宋体;
}
.pop-win .pop-closer {
    float: right;
    cursor: pointer;
    font: bold 14px sans-serif;
    color:#666;
}
.pop-win .pop-body {
    color: #333;
    padding: 6px 12px;
    min-width: 240px;
    min-height: 80px;
    background-color: #fff;
}
.pop-win .pop-footer {
    color: #666;
    padding: 6px 12px;
    background-color: #f2f2f2;
    border-top: 1px solid #e3e3e3;
}
