/* list.css */
.list {
    margin: 0;
    padding: 12px;
    list-style-type: square;
}

.list-link li a,
.list-link dd a {
    text-decoration: none;
    color: #09f;
}

.list-link li a:hover,
.list-link dd a:hover {
    color: #06c;
}

.unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}